In [1]:
pip install gdown

Collecting gdown
  Downloading gdown-5.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\casa\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\casa\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\casa\anaconda3\lib\site-packages (from gdown) (2.32.2)
Requirement already satisfied: tqdm in c:\users\casa\anaconda3\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\casa\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.7.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\casa\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)
Downloading gdown-5.2.0-py3-none-any.whl (18 kB)
Installing collected packages: gdown
Successfully installed gdown-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
from Funciones import cargar_archivos_txt

c:\Users\Casa\Documents\GitHub\CustomerExperience\Funciones.py:7: SyntaxWarning: invalid escape sequence '\,'
  def cargar_archivos_txt(carpeta='data', archivos=['df_final_demo.txt', 'df_final_experiment_clients.txt', 'df_final_web_data_pt_1.txt', 'df_final_web_data_pt_2.txt'], delimiter='\,'):

Archivo df_final_demo.txt cargado correctamente.
Archivo df_final_experiment_clients.txt cargado correctamente.
Archivo df_final_web_data_pt_1.txt cargado correctamente.
Archivo df_final_web_data_pt_2.txt cargado correctamente.

Cargar datos

In [2]:
archivos = ['df_final_demo.txt', 'df_final_experiment_clients.txt', 'df_final_web_data_pt_1.txt', 'df_final_web_data_pt_2.txt']
datos = cargar_archivos_txt(carpeta='data', archivos=archivos, delimiter=',')  # Cambia el delimitador si es necesario

dfclientes = datos['df_final_demo.txt']
dfvariacion = datos['df_final_experiment_clients.txt']
dfvisitas1 = datos['df_final_web_data_pt_1.txt']
dfvisitas2 = datos['df_final_web_data_pt_2.txt']

dfclientes.head()

Archivo df_final_demo.txt cargado correctamente.
Archivo df_final_experiment_clients.txt cargado correctamente.
Archivo df_final_web_data_pt_1.txt cargado correctamente.
Archivo df_final_web_data_pt_2.txt cargado correctamente.

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

Unir tablas

In [3]:
import pandas as pd

df = pd.merge(dfclientes, dfvariacion, on='client_id', how='left')
df = pd.merge(df, dfvisitas1, on='client_id', how='left')
df = pd.merge(df, dfvisitas2, on='client_id', how='left')

df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,NaN,NaN,NaN,NaN
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,NaN,NaN,NaN,NaN
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,NaN,NaN,NaN,NaN
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,NaN,NaN,NaN,NaN
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,NaN,NaN,NaN,NaN

Limpieza tablas

In [4]:
df.dropna(inplace=True)
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Convertir edades

In [5]:
# Redondear las edades al número entero más cercano
df['clnt_age'] = df['clnt_age'].round(0).astype(int)
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Cambio de formato fecha

In [6]:
# Convertir la columna 'date_time' al formato de fecha
df['date_time_x'] = pd.to_datetime(df['date_time_x']).dt.strftime('%d/%m/%Y')
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Limpieza de genero

In [7]:
df['gendr'] = df['gendr'].replace(['U', 'X'], None)
df = df.dropna(subset=['gendr'])

df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
259,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_3,2017-05-09 18:01:27
260,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_2,2017-05-09 17:58:04
261,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_1,2017-05-09 17:57:57
262,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,start,2017-05-09 17:57:41
263,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,start,2017-05-09 17:57:41

In [15]:
df.to_csv('data_ab_test_clean.txt', index=False)

In [48]:
# Contar cuántos pasos completó cada cliente
df['steps_completed'] = df.groupby('client_id')['process_step_x'].transform('count')

# Calcular la tasa de finalización del proceso por cliente
completion_rate = df.groupby(['client_id', 'Variation'])['steps_completed'].mean().reset_index()

# Agrupar por Test y Control
completion_summary = completion_rate.groupby('Variation')['steps_completed'].mean()

print(completion_summary)

Variation
Control    25.722696
Test       32.838500
Name: steps_completed, dtype: float64

Ver hipotesis1

In [8]:
# Crear una columna para indicar si el cliente completó el último paso (step_3)
df['completed'] = df['process_step_x'].apply(lambda x: 1 if x == 'confirm' else 0)

# Obtener la tasa de finalización por cliente
df_completion = df.groupby('client_id')['completed'].max().reset_index()

# Unir con la tabla de variaciones (Test/Control) para identificar a qué grupo pertenece cada cliente
df_final = pd.merge(df_completion, dfvariacion, on='client_id', how='inner')

In [9]:
completion_rate = df_final.groupby('Variation')['completed'].mean()
print(completion_rate)

Variation
Control    0.182804
Test       0.290555
Name: completed, dtype: float64

In [10]:
from scipy import stats

# Dividir los datos en los dos grupos
test_group = df_final[df_final['Variation'] == 'Test']['completed']
control_group = df_final[df_final['Variation'] == 'Control']['completed']

# Realizar la prueba t
t_stat, p_value = stats.ttest_ind(test_group, control_group)

print(f'T-statistic: {t_stat}, P-value: {p_value}')

T-statistic: 6.587186529251027, P-value: 5.37703198382702e-11

Hipotesis 2

In [14]:
print(df_merged.head())
print(df_merged.columns)

   client_id  completed  clnt_tenure_yr
0       1643          0            19.0
1       3647          0            15.0
2       5845          1            23.0
3       9767          1             6.0
4      13831          0            16.0
Index(['client_id', 'completed', 'clnt_tenure_yr'], dtype='object')

In [29]:
# Primero, une dfclientes con dfvariacion para obtener 'Variation'
df_clientes_variation = pd.merge(dfclientes, dfvariacion[['client_id', 'Variation']], on='client_id', how='left')
dfvisitas = pd.concat([dfvisitas1, dfvisitas2], ignore_index=True)

# Crear la columna 'completed' en dfvisitas
dfvisitas['completed'] = dfvisitas['process_step'].apply(lambda x: 1 if x == 'confirm' else 0)

#Agrupar a nivel de cliente
df_completed = dfvisitas.groupby('client_id')['completed'].max().reset_index()

# Unir con el DataFrame de antigüedad y variation
df_merged = pd.merge(df_completed, df_clientes_variation[['client_id', 'clnt_tenure_yr', 'Variation']], on='client_id', how='left')
from scipy import stats

# Dividir en grupos Test y Control
grupo_test = df_merged[df_merged['Variation'] == 'Test']
grupo_control = df_merged[df_merged['Variation'] == 'Control']

grupo_test['clnt_tenure_yr'].fillna(grupo_test['clnt_tenure_yr'].median(), inplace=True)
grupo_control['clnt_tenure_yr'].fillna(grupo_control['clnt_tenure_yr'].median(), inplace=True)

C:\Users\Casa\AppData\Local\Temp\ipykernel_23256\3720969839.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  grupo_test['clnt_tenure_yr'].fillna(grupo_test['clnt_tenure_yr'].median(), inplace=True)
C:\Users\Casa\AppData\Local\Temp\ipykernel_23256\3720969839.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grupo_test['clnt_tenure_yr'].fillna(grupo_test['clnt_tenure_yr'].median(), inplace=True)
C:\Users\Casa\AppData\Local\Temp\ipykernel_23256\3720969839.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  grupo_control['clnt_tenure_yr'].fillna(grupo_control['clnt_tenure_yr'].median(), inplace=True)
C:\Users\Casa\AppData\Local\Temp\ipykernel_23256\3720969839.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grupo_control['clnt_tenure_yr'].fillna(grupo_control['clnt_tenure_yr'].median(), inplace=True)

In [30]:
from scipy import stats

# Prueba t entre el grupo Test y Control basado en la antigüedad
t_stat, p_value = stats.ttest_ind(grupo_test['clnt_tenure_yr'], grupo_control['clnt_tenure_yr'])

print(f'T-statistic: {t_stat}, P-value: {p_value}')

T-statistic: -1.7128709604753467, P-value: 0.08674242028074441

Hipotesis 3

In [31]:
# Definir umbral para alta/baja frecuencia de inicio de sesión (usamos la mediana)
threshold = dfclientes['logons_6_mnth'].median()

# Crear columna para categorizar alta o baja frecuencia
dfclientes['frecuencia_logins'] = dfclientes['logons_6_mnth'].apply(lambda x: 'alta' if x >= threshold else 'baja')

In [32]:
# Unir clientes con la columna 'Variation'
df_clientes_variation = pd.merge(dfclientes, dfvariacion[['client_id', 'Variation']], on='client_id', how='left')

# Unir clientes con los datos de visitas y finalización
df_merged = pd.merge(df_completed, df_clientes_variation[['client_id', 'Variation', 'frecuencia_logins']], on='client_id', how='left')

In [33]:
# Dividir en alta y baja frecuencia
alta_frecuencia = df_merged[df_merged['frecuencia_logins'] == 'alta']
baja_frecuencia = df_merged[df_merged['frecuencia_logins'] == 'baja']

In [34]:
# Dividir en grupos Test y Control para alta frecuencia
grupo_test_alta = alta_frecuencia[alta_frecuencia['Variation'] == 'Test']
grupo_control_alta = alta_frecuencia[alta_frecuencia['Variation'] == 'Control']

# Calcular la tasa de finalización para alta frecuencia
tasa_test_alta = grupo_test_alta['completed'].mean()
tasa_control_alta = grupo_control_alta['completed'].mean()

print(f'Tasa de finalización en el grupo de prueba (alta frecuencia): {tasa_test_alta}')
print(f'Tasa de finalización en el grupo de control (alta frecuencia): {tasa_control_alta}')

Tasa de finalización en el grupo de prueba (alta frecuencia): 0.702400085717347
Tasa de finalización en el grupo de control (alta frecuencia): 0.6622838616714697

In [35]:
from scipy import stats

# Realizar la prueba t para comparar las tasas de finalización
t_stat, p_value = stats.ttest_ind(grupo_test_alta['completed'], grupo_control_alta['completed'])

print(f'T-statistic: {t_stat}, P-value: {p_value}')

T-statistic: 8.09910005629259, P-value: 5.712988012975413e-16

In [40]:
num_completados = dfvisitas[dfvisitas['process_step'] == 'confirm'].client_id.nunique()
total_clientes = dfclientes.client_id.nunique()
tasa_finalizacion = (num_completados / total_clientes) * 100

# Tiempo Promedio en Proceso
tiempos = dfvisitas.groupby('client_id')['date_time'].diff().dt.total_seconds().dropna()
tiempo_promedio = tiempos.mean()

# Frecuencia de Inicio de Sesión
frecuencia_sesion = dfvisitas.client_id.value_counts().mean()

# Porcentaje de Vueltas Atrás
vueltas_atras = dfvisitas['process_step'].shift() != dfvisitas['process_step']
porcentaje_vueltas_atras = (vueltas_atras.sum() / len(dfvisitas)) * 100

print(f'Tasa de Finalización: {tasa_finalizacion}%')
print(f'Tiempo Promedio en Proceso: {tiempo_promedio} segundos')
print(f'Frecuencia de Inicio de Sesión: {frecuencia_sesion}')
print(f'Porcentaje de Vueltas Atrás: {porcentaje_vueltas_atras}%')

Tasa de Finalización: 114.9216105595604%
Tiempo Promedio en Proceso: 656.8746788655769 segundos
Frecuencia de Inicio de Sesión: 6.286816415190127
Porcentaje de Vueltas Atrás: 82.05187945539147%

In [53]:
import pandas as pd
from scipy import stats

def analizar_tasa_finalizacion(df, dfvariacion):
    # Contar cuántos pasos completó cada cliente
    df['steps_completed'] = df.groupby('client_id')['process_step_x'].transform('count')

    # Calcular la tasa de finalización del proceso por cliente
    completion_rate = df.groupby(['client_id', 'Variation'])['steps_completed'].mean().reset_index()

    # Agrupar por Test y Control
    completion_summary = completion_rate.groupby('Variation')['steps_completed'].mean()

    print("Tasa de finalización promedio por grupo:")
    print(completion_summary) 

    # Crear una columna para indicar si el cliente completó el último paso (confirm)
    df['completed'] = df['process_step_x'].apply(lambda x: 1 if x == 'confirm' else 0)

    # Obtener la tasa de finalización por cliente
    df_completion = df.groupby('client_id')['completed'].max().reset_index()

    # Unir con la tabla de variaciones (Test/Control) para identificar a qué grupo pertenece cada cliente
    df_final = pd.merge(df_completion, dfvariacion, on='client_id', how='inner')
    
    # Calcular la tasa de finalización por grupo
    completion_rate = df_final.groupby('Variation')['completed'].mean()
    
    print("Tasa de finalización por grupo:")
    print(completion_rate)

    # Dividir los datos en los dos grupos
    test_group = df_final[df_final['Variation'] == 'Test']['completed']
    control_group = df_final[df_final['Variation'] == 'Control']['completed']

    # Realizar la prueba T
    t_stat, p_value = stats.ttest_ind(test_group, control_group)

    print(f'T-statistic: {t_stat}, P-value: {p_value}')

# Ejemplo de uso
# df y df_variacion deben estar definidos antes de llamar a la función
# analizar_tasa_finalizacion(df, df_variacion)

analizar_tasa_finalizacion(df, dfvariacion)

Tasa de finalización promedio por grupo:
Variation
Control    25.722696
Test       32.838500
Name: steps_completed, dtype: float64
Tasa de finalización por grupo:
Variation
Control    0.182804
Test       0.290555
Name: completed, dtype: float64
T-statistic: 6.587186529251027, P-value: 5.37703198382702e-11