In [1]:
pip install gdown

Collecting gdown
  Downloading gdown-5.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\casa\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\casa\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\casa\anaconda3\lib\site-packages (from gdown) (2.32.2)
Requirement already satisfied: tqdm in c:\users\casa\anaconda3\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\casa\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.7.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\casa\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\casa\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)
Downloading gdown-5.2.0-py3-none-any.whl (18 kB)
Installing collected packages: gdown
Successfully installed gdown-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from Funciones import cargar_archivos_txt

Cargar datos

In [4]:
archivos = ['df_final_demo.txt', 'df_final_experiment_clients.txt', 'df_final_web_data_pt_1.txt', 'df_final_web_data_pt_2.txt']
datos = cargar_archivos_txt(carpeta='data', archivos=archivos, delimiter=',')  # Cambia el delimitador si es necesario

dfclientes = datos['df_final_demo.txt']
dfvariacion = datos['df_final_experiment_clients.txt']
dfvisitas1 = datos['df_final_web_data_pt_1.txt']
dfvisitas2 = datos['df_final_web_data_pt_2.txt']

dfclientes.head()

Archivo df_final_demo.txt cargado correctamente.
Archivo df_final_experiment_clients.txt cargado correctamente.
Archivo df_final_web_data_pt_1.txt cargado correctamente.
Archivo df_final_web_data_pt_2.txt cargado correctamente.

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

Unir tablas

In [7]:
import pandas as pd

df = pd.merge(dfclientes, dfvariacion, on='client_id', how='left')
df = pd.merge(df, dfvisitas1, on='client_id', how='left')
df = pd.merge(df, dfvisitas2, on='client_id', how='left')

df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,NaN,NaN,NaN,NaN
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,NaN,NaN,NaN,NaN
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,NaN,NaN,NaN,NaN
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,NaN,NaN,NaN,NaN
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,NaN,NaN,NaN,NaN

Limpieza tablas

In [9]:
df.dropna(inplace=True)
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Convertir edades

In [11]:
# Redondear las edades al número entero más cercano
df['clnt_age'] = df['clnt_age'].round(0).astype(int)
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,2017-04-05 22:33:57,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Cambio de formato fecha

In [13]:
# Convertir la columna 'date_time' al formato de fecha
df['date_time_x'] = pd.to_datetime(df['date_time_x']).dt.strftime('%d/%m/%Y')
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
86,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,confirm,2017-05-06 22:41:48
87,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_3,2017-05-06 22:39:41
88,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_2,2017-05-06 22:38:09
89,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,step_1,2017-05-06 22:37:12
90,2892152,4.0,58.0,36,U,2.0,46815.48,5.0,8.0,Test,475009955_99741870924,953097438_9608092216_244580,start,05/04/2017,475009955_99741870924,444789517_93530657187_644985,start,2017-05-06 22:34:49

Limpieza de genero

In [14]:
df['gendr'] = df['gendr'].replace(['U', 'X'], None)
df = df.dropna(subset=['gendr'])

df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
259,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_3,2017-05-09 18:01:27
260,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_2,2017-05-09 17:58:04
261,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,step_1,2017-05-09 17:57:57
262,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,start,2017-05-09 17:57:41
263,3065089,19.0,228.0,63,M,2.0,439723.43,6.0,9.0,Test,812932741_71722830761,549075416_25685985197_933875,step_2,16/04/2017,221088883_85206349356,94363992_50265918535_940274,start,2017-05-09 17:57:41

In [15]:
df.to_csv('data_ab_test_clean.csv', index=False)

In [16]:
# Contar cuántos pasos completó cada cliente
df['steps_completed'] = df.groupby('client_id')['process_step_x'].transform('count')

# Calcular la tasa de finalización del proceso por cliente
completion_rate = df.groupby(['client_id', 'Variation'])['steps_completed'].mean().reset_index()

# Agrupar por Test y Control
completion_summary = completion_rate.groupby('Variation')['steps_completed'].mean()

print(completion_summary)

Variation
Control    25.722696
Test       32.838500
Name: steps_completed, dtype: float64

C:\Users\Casa\AppData\Local\Temp\ipykernel_29252\658160368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['steps_completed'] = df.groupby('client_id')['process_step_x'].transform('count')

In [17]:
from scipy import stats

# Separar los grupos de prueba y control
test_group = completion_rate[completion_rate['Variation'] == 'Test']['steps_completed']
control_group = completion_rate[completion_rate['Variation'] == 'Control']['steps_completed']

# Realizar la prueba t
t_stat, p_value = stats.ttest_ind(test_group, control_group)

print(f'T-statistic: {t_stat}, P-value: {p_value}')

T-statistic: 3.066246882902277, P-value: 0.0021893049327889828